<% provide( :title, @user.name ) %>
<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
            <%= render "shared/stats"%>
        </section>
        <section class="new_paper">
            <% if current_user?(@user) %>
                <%= link_to "Upload a New Paper...", new_paper_path %>
            <% end %>
        </section>
        <section>
            <div class="activities">
                <% if @activities.any? %>
                    <h3>Activities</h3>
                    <ul class="activity-list">
                        <% @activities.each do |activity| %>
                            <% if activity.trackable %>
                                <li class="activity">
                                    <%= activity.inspect %>
                                </li>
                            <% end %>
                        <% end %>
                    </ul>
                <% end %>
            </div>
        </section>
    </aside>
    <div class="span8">
        <% if @user.papers.any? %>
            <h3>Papers (<%= @user.papers.count %>)</h3>
            <ol class="papers">
                <%= render @papers %>
            </ol>
        <% else %>
            <h3>Papers (0)</h3>
            <p>You have no papers published. <%= link_to "Upload one now!", new_paper_path %>
        <% end %>
    </div>
</div>
