<% @reviews.each do |review| %>
    <div class="span3">
        <h5>
            <%= link_to review.paper.title, review.paper %>
        </h5>
        <%= image_tag review.paper.pdf.url(:pdf_thumbnail), class: "snapshot", title: review.paper.title %>
        <p class="description">
            <% if review.paper.updated_at == review.paper.created_at %>
                Uploaded on
            <% else %>
                Updated on
            <% end %>
            <%= review.paper.updated_at.to_formatted_s(:long) %>
            by
            <%= link_to review.paper.user.name, review.paper.user %>
            in
            <%= link_to review.paper.subject.name %></p>
        <p class="meta">
            <span><%= caps_first(review.paper.state) %></span> |
            <span class="comments"><%= pluralize review.paper.comments.count, "comment" %></span> |
            <span class="reviews"><%= pluralize review.paper.reviews.count, "review" %></span> |
            <span class="upvotes"><%= pluralize review.paper.upvotes.size, "upvote" %></span> |
            <span class="downvotes"><%= pluralize review.paper.downvotes.size, "downvote" %></span>
        </p>
        <p>
            <strong>Tags:</strong>
            <%= review.paper.tag_list %>
        </p>
    </div>
<% end %>