<% if signed_in? %>
    <% if current_user.voted_up_for? @paper %>
        <span class="vote upvoted" href="#" title="You voted up">
            <%= @paper.upvotes.size %><%= raw "&#x25B2;" %>
        </span>
        
    <% else %>
        <span class="vote">
            <%= @paper.upvotes.size %><%= link_to (raw "&#x25B2;"), upvote_paper_path(@paper), class: "upvote", title: "Vote up", method: :put %>
        </span>
    <% end %>
    
    <% if current_user.voted_down_for? @paper %>
        <span class="vote downvoted" title="You voted down">
            <%= @paper.downvotes.size %><%= raw "&#x25BC;" %>
        </span>
    <% else %>
    
        <span class="vote">
            <%= @paper.downvotes.size %><%= link_to (raw "&#x25BC;"), downvote_paper_path(@paper), class: "downvote", title: "Vote down", method: :put %>
        </span>
    <% end %>
    
<% else %>
    <span class="vote">
        <%= @paper.upvotes.size %><%= link_to (raw "&#x25B2;"), upvote_paper_path(@paper), class: "upvote", title: "Vote up", method: :put %>
    </span>
    
    <span class="vote">
        <%= @paper.downvotes.size %><%= link_to (raw "&#x25BC;"), downvote_paper_path(@paper), class: "downvote", title: "Vote down", method: :put %>
    </span>
<% end %>
