<% provide :title, "Editing Paper #{@paper.title}" %>

<h1>Editing <%= @paper.title %></h1>

<%= form_for @paper, :html => { :multipart => true } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title, "Title of Paper", placeholder: "Example Title and the Rest" %>
    <%= f.text_field :title %>
    
    <%= f.label :tag_list, "Tags (seperated by commas)" %>
    <%= f.text_field :tag_list %>
    
    <% subject_array = Subject.all.map { |subj| [subj.name, subj.id] } %>
    <%= f.label :subject_id, "Subject Field" %>
    <%= f.select :subject_id, options_for_select(subject_array) %>
    
    <%= f.label :pdf, "Upload Paper (PDF format only)"%>
    <%= f.file_field :pdf %>
    
    <%= f.label :ifile1, "Upload supporting image 1 (optional, formats: .gif, .png, .jpg)"%>
    <%= f.file_field :sfile1 %>
    
    <%= f.label :ifile2, "Upload supporting image 2 (optional, formats: .gif, .png, .jpg)"%>
    <%= f.file_field :sfile2 %>
    
    <%= f.label :sfile, "Upload supporting sound (optional, formats: .wav, .mp3, .ogg)"%>
    <%= f.file_field :sfile %>
    
    <%= f.label :vfile, "Upload supporting video (optional, formats: .avi, .flv, .mp4)"%>
    <%= f.file_field :vfile %>
    
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :version %>
    
    <%= f.submit "Update Paper", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Show Paper', @paper %>
