<% provide(:title, "Search Papers")%>
<h1>Search Papers</h1>
<div class="row">
    <div class="span12 search-form">
        <%= render "search" %>
    </div>
    <div class="span12 search-results">
        <% if !params[:search].blank? %>
            <h4 class="results-for"><%= highlight("Search results for: #{params[:search]}", params[:search]) %></h4>
            <% if @papers.any? %>
                <% @papers.each do |paper| %>
                    <div class="paper">
                        <h5>
                            <%= link_to(highlight(paper.title, params[:search]), paper) %>
                        </h5>
                        <p>
                            <strong>Posted by: </strong>
                            <%= link_to paper.user.name, paper.user %> in <%= paper.subject.name %>
                        </p>
                        <p>
                            <strong>Stable URL: </strong>
                            <%= link_to "http://#{request.domain}:#{request.port}#{paper.pdf.url}", paper.pdf.url %>
                        </p>
                    </div>
                <% end %>
            <% else %>
                <p>No results found</p>
            <% end %>
        <% end %>
    </div>
</div>
<h3>Newest Papers</h3>
<div class="row new-papers">
    <% @newest_papers.each do |paper| %>
    <div class="span4">
        <h5>
            <%= link_to paper.title, paper %>
        </h5>
        <%= image_tag paper.pdf.url(:pdf_thumbnail), class: "snapshot", title: paper.title %>
        <p class="description">
            <% if paper.updated_at == paper.created_at %>
                Uploaded on
            <% else %>
                Updated on
            <% end %>
            <%= paper.updated_at.to_formatted_s(:long) %>
            by
            <%= link_to paper.user.name, paper.user %>
            in
            <%= link_to paper.subject.name %></p>
        <p class="paper-stats">
            <span><%= pluralize paper.comments.count, "comment" %></span>, 
            <span><%= pluralize paper.reviews.count, "review" %></span>,
            <span><%= pluralize paper.upvotes.size - paper.downvotes.size, "like" %></span>
        </p>
    </div>
    <% end %>
</div>
