<% provide(:title, "Search Papers")%>
<h1>Search Papers</h1>
<div class="row">
    <div class="span12 search-form">
        <%= render "search" %>
    </div>
    <div class="span12 search-results">
        <% if !params[:search].blank? %>
            <h4 class="results-for">Search results for "<%= params[:search] %>"</h4>
            <% if @papers.any? %>
                <% @papers.each do |paper| %>
                    <div class="paper">
                        <h5><%= link_to paper.title, paper %></h5>
                        <p><strong>Posted by: </strong><%= link_to paper.user.name, paper.user %> in <%= paper.subject.name %></p>
                        <p><strong>Stable URL: </strong><%= link_to "http://localhost:3000#{paper.pdf.url}", paper.pdf.url %></p>
                        <!--<span><%= link_to 'Show', paper %></span>
                        <span><%= link_to 'Edit', edit_paper_path(paper) %></span>
                        <span><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></span>-->
                    </div>
                <% end %>
            <% else %>
                <p>No results found</p>
            <% end %>
        <% end %>
    </div>
</div>
<h3>Newest Papers</h3>
<div class="row new-papers">
    <% @newest_papers.each do |paper| %>
    <div class="span4">
        <h5><%= link_to paper.title, paper %></h5>
        <p class="description">Uploaded on <%= paper.created_at.strftime("%d-%m-%Y") %> by <%= paper.user.name %> in <%= paper.subject.name %></p>
        <p class="comments-count"><%= pluralize paper.comments.count, "comment" %></p>
    </div>
    <% end %>
</div>
