<% provide(:title, "Search Papers")%>
<h1>Search Papers</h1>
<div class="row-fluid">
    <div class="span12 search-form">
        <%= render "search" %>
    </div>
    <div class="span12 search-results">
        <% if !params[:search].blank? %>
            <h4 class="results-for"><%= highlight("Search results for: #{params[:search]}", params[:search]) %></h4>
            <% if @papers.any? %>
                <% @papers.each do |paper| %>
                    <div class="paper">
                        <h5>
                            <%= link_to(highlight(paper.title, params[:search]), paper) %>
                        </h5>
                        <p>
                            <strong>Posted by: </strong>
                            <%= link_to paper.user.name, paper.user %> in <%= paper.subject.name %>
                        </p>
                        <p>
                            <strong>Stable URL: </strong>
                            <%= link_to "http://#{request.domain}:#{request.port}#{paper.pdf.url}", paper.pdf.url %>
                        </p>
                    </div>
                <% end %>
            <% else %>
                <p>No results found</p>
            <% end %>
        <% end %>
    </div>
</div>
<h3>Newest Papers</h3>
<div class="row-fluid new-papers">
    <%= render "new_papers" %>
</div>
