<% provide :title, @paper.title %>
<div class="row show-paper">
    <h3 class="title"><%= @paper.title %></h3>
    <div class="span1">
        <div class="votes">
            <%= render "vote" %>
        </div>
    </div>
    <div class="span8 pdf-view">
        <iframe src="https://docs.google.com/viewer?url=http://localhost:3000<%= @paper.pdf.url %>&embedded=true" width="100%" height="450" frameborder="0">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
    <div class="span3 paper-head">
        <p class="submitted-by">
            <strong>Submitted by:</strong>
            <%= link_to @paper.user.name, @paper.user %>
        </p>
        <p class="submitted-in">
            <strong>Submitted in:</strong>
            <%= @paper.subject.name %>
        </p>
        <p class="version">
            <strong>Version:</strong>
            <%= @paper.version %>
                <em>
                    <% if @paper.updated_at == @paper.created_at %>
                        (created at
                    <% else %>
                        (updated at
                    <% end %>
                    <%= @paper.updated_at.strftime("%d-%m-%Y %H:%M:%S") %>)
                </em>
            <% if !current_user.nil? %>
                <% if @paper.user == current_user %>
                    <%= link_to 'Update Paper', edit_paper_path(@paper) %>
                <% end %>
            <% end %>
        </p>
        <p class="status">
            <strong>Status:</strong>
            <% if @paper.published? %>
                Paper published
            <% else %>
                Paper under reviewing process
                <% if accepted_reviews_for(@paper) >= 3 && paper_user?(@paper)%>
                    <%= link_to "Publish this paper", publish_paper_path(@paper), class: "publish", method: :put %>
                <% end %>
            <% end %>
        </p>
        <p>
            <strong>Tags:</strong>
            <%= @paper.tag_list %>
        </p>
        <h4>Supporting Files</h4>
        <ul class="supporting-files">
        <% @paper.assets.each do |asset|%>
            <li>
                <%= link_to asset.asset_file_name, asset.asset.url %>
            </li>
        <% end %>
        </ul>
        <% if signed_in? && current_user.admin? %>
            <h5>Delete Paper</h5>
            <p><%= link_to 'Delete Paper', @paper, method: :delete, data: { confirm: "Delete this paper?" }%></p>
        <% end %>
    </div>
    <div class="span12 reviews">
        <%= render "reviews/review" %>
    </div>
    <div class="span12 comments">
        <%= render "comments/comment" %>
        <%= render "comments/form" %>
    </div>
</div>
