<% provide :title, @paper.title %>
<div class="row show-paper">
    <div class="span12 paper-head">
        <h3 class="title"><%= @paper.title %></h3>
        <p class="submitted-by">
            <strong>Submitted by:</strong>
            <%= link_to @paper.user.name, @paper.user %>
        </p>
        <p class="submitted-in">
            <strong>Submitted in:</strong>
            <%= @paper.subject.name %>
        </p>
        <p class="version">Version 1 (<%= @paper.created_at.strftime("%d-%m-%Y") %>)</p>
    </div>
    <div class="span12 pdf-view">
        <iframe src="https://docs.google.com/viewer?url=http://localhost:3000<%= @paper.pdf.url %>&embedded=true" width="65%" height="450" frameborder="0">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
    <div class="span12 comments">
        <h4>Comments</h4>
        <% if @paper.comments.any? %>
            <% @paper.comments.each do |comment| %>
                <p>
                    <% if comment.user.nil? %>
                        <strong>Anonymous:</strong>
                    <% else %>
                        <strong><%= comment.user.name %>:</strong>
                    <% end %>
                    <%= comment.content %>
                    <% if !current_user.nil? %>
                        <% if current_user.admin? || comment_user?(comment) %>
                            <span><%= link_to 'Delete', comment, method: :delete, data: { confirm: "Delete this comment?" }%></span>
                        <% end %>
                    <% end %>
                </p>
            <% end %>
        <% else %>
            <p>No comments posted for this paper</p>
        <% end %>
        <%= render "comments/form" %>
    </div>
    <div class="span12">
        <%= link_to 'Edit', edit_paper_path(@paper) %> |
        <%= link_to 'Back', papers_path %>
    </div>
</div>
