<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @paper.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @paper.user_id %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
